openapi: 3.2.0
info:
  title: DoiT Templates API
  description: Programmatic access to DoiT Platform
  version: v1
servers:
- url: https://api.doit.com
security:
- api_key: []
- tenantId: []
  api_key: []
tags:
- name: Templates
  description: Browse the catalogue of read-only CloudFlow templates (blueprints) used to create flows.
paths:
  /cloudflow/v1/templates:
    get:
      tags:
      - Templates
      summary: List templates
      description: 'Returns the catalogue of available CloudFlow templates (blueprints). Templates are

        read-only. To create a flow from a template, use `POST /flows` with a `templateId`.'
      operationId: listCloudflowTemplates
      parameters:
      - name: maxResults
        in: query
        description: Maximum number of templates to return (1–500). Defaults to 50.
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 50
      - name: pageToken
        in: query
        description: Opaque cursor for the next page, taken from `pageToken` in the previous response. Omit to start from the beginning.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudflowTemplateListResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /cloudflow/v1/templates/{templateId}:
    get:
      tags:
      - Templates
      summary: Retrieve a template
      description: Returns a single CloudFlow template by ID.
      operationId: getCloudflowTemplate
      parameters:
      - name: templateId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudflowTemplate'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  responses:
    '400':
      description: Bad Request - The server cannot process the request, often due to a malformed request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Unauthorized - Invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '403':
      description: Forbidden - The client is not authorized to perform the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '404':
      description: Not Found - The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '500':
      description: Internal Server Error - Something went wrong with the DoiT API server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Standard error response structure.
      properties:
        error:
          type: string
          description: Detailed error message.
    CloudflowTemplate:
      type: object
      description: A read-only CloudFlow template (blueprint). Use `POST /flows` with `templateId` to create a new flow initialised from this template.
      required:
      - id
      - name
      - createTime
      properties:
        id:
          type: string
          description: Unique identifier of the template.
        name:
          type: string
          description: Human-readable display name of the template.
        description:
          type: string
          description: Short summary of what the template does and which use case it addresses.
        instructions:
          type:
          - string
          - 'null'
          description: Step-by-step operator guidance for configuring a flow created from this template. `null` when no instructions have been authored.
        createTime:
          type: string
          format: date-time
          description: ISO 8601 (UTC) creation timestamp.
        updateTime:
          type:
          - string
          - 'null'
          format: date-time
          description: ISO 8601 (UTC) last-modified timestamp. `null` if never modified.
    CloudflowTemplateListResponse:
      type: object
      description: Cursor-paginated list of CloudFlow templates.
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CloudflowTemplate'
        pageToken:
          type:
          - string
          - 'null'
          description: Opaque cursor for the next page. `null` when there are no more results.
        rowCount:
          type:
          - integer
          - 'null'
          description: Total number of templates matching the current query.
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      description: Use the "Bearer <API_KEY>" format or sign in for autofill
      in: header
    tenantId:
      type: apiKey
      name: X-Tenant-Id
      description: 'Tenant (customer) ID that sets the request''s customer context.


        Required when the credential can access more than one tenant; omit when the

        credential is scoped to exactly one tenant (the server resolves that tenant

        automatically). If omitted for a multi-tenant credential, the request fails

        with `400` and code `tenant_id_required`. If the value conflicts with the

        credential''s tenant scope, the request fails with `400` and code

        `tenant_id_mismatch`.


        Use this header over the legacy `customerContext` query parameter, which

        only applies to legacy API keys and is ignored by personal and service-account

        API tokens.

        '
      in: header
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://console.doit.com/sign-in/oauth
          tokenUrl: https://console.doit.com/api/auth/token
          scopes:
            dci: Access All Data
x-samples-languages:
- curl
- go
- node
- python
x-cli-config:
  security: oauth2
  params:
    client_id: cli
